<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="${DB_DRIVER}"/>
                <property name="url" value="${DB_URL}"/>
                <property name="username" value="${DB_ID}"/>
                <property name="password" value="${DB_PASSWORD}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="mapper/UserMapper.xml" />
        <mapper resource="mapper/BoardMapper.xml" />
<!--        <mapper resource="mapper/AttachmentMapper.xml" />-->
<!--        <mapper resource="mapper/CommentMapper.xml" />-->
    </mappers>
</configuration>