/* 검색 조건 입력 스타일*/
.search-form {
  background-color: #f0f0f0;
}

.search-form .form-group {
  margin-right: 10px;
}

/* 페이지네이션 스타일*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.page-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
}

.page-link:hover {
  text-decoration: underline;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.new-text {
  color: red;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 4px; 
}

.list-title {
  color: black;
  font-weight: bold;
}


/* 대시보드 카드 */
.card {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 300px;
  overflow: auto;
}

.card-header {
  font-weight: bold;
}

.list-group-item {
  border: none;
}

.category-cell {
  max-width: 100px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-cell {
  max-width: 200px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* 이미지 */
.slide-container {
  max-width: 400px;
  margin: 0 auto; 
}

.image-container {
  max-width: 100%; 
  height: auto; 
  overflow: hidden; 
}

.image-container img {
  max-width: 100%;
  height: auto; 
}

.thumbnail-container {
  height: 100px; 
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnail-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; 
}