/* 검색 조건 입력 스타일*/
.search-form {
  background-color: #f0f0f0;
}

.search-form .form-group {
  margin-right: 10px;
}

/* 페이지네이션 스타일*/
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.page-link {
  color: #007bff;
  cursor: pointer;
  text-decoration: none;
  padding: 5px 10px;
}

.page-link:hover {
  text-decoration: underline;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

nav {
  padding: 30px;
}

nav a {
  font-weight: bold;
  color: #2c3e50;
}

nav a.router-link-exact-active {
  color: #42b983;
}

.new-text {
  color: red;
  font-weight: bold;
  text-decoration: underline;
  padding-left: 4px; /* 왼쪽 패딩을 2px로 설정 */
}

.list-title {
  color: black;
  font-weight: bold;
}


// 대시보드 카드 

.card {
  border: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  height: 300px; /* 원하는 최대 높이로 설정 */
  overflow: auto; /* 내용이 카드를 넘어갈 경우 스크롤 생성 */
}

.card-header {
  font-weight: bold;
}

.list-group-item {
  border: none;
}

.category-cell {
  max-width: 100px; /* 원하는 너비로 조정 */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.title-cell {
  max-width: 200px; 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
//이미지
.slide-container {
  max-width: 400px; /* 원하는 최대 너비로 설정하세요 */
  margin: 0 auto; /* 가운데 정렬을 위해 추가 */
}

.image-container {
  max-width: 100%; /* 이미지가 부모 요소 내에서 모두 나타나도록 함 */
  height: auto; /* 이미지 비율을 유지한 채로 높이 조정 */
  overflow: hidden; /* 이미지 넘침 방지 */
}

.image-container img {
  max-width: 100%; /* 이미지가 부모 요소 내에서 모두 나타나도록 함 */
  height: auto; /* 이미지 비율을 유지한 채로 높이 조정 */
}

.thumbnail-container {
  height: 100px; /* 이미지 컨테이너의 원하는 높이로 설정 */
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.thumbnail-image {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain; /* 이미지가 컨테이너 내에 전체적으로 표시됨 */
}