<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    유저 매퍼
    UserRepository 인터페이스와 연결
-->
<mapper namespace="ebrain.board.mapper.CommentRepository">

    <!-- 검색 조건에 해당하는 자유 게시글의 개수를 조회 -->
    <select id="countCommentByFreeBoardId" resultType="java.lang.Integer">
        SELECT COUNT(*)
        FROM comments
        WHERE board_Id = #{board_id}
    </select>
    <!-- 댓글 추가 -->
    <insert id="addFreeBoardComment" parameterType="CommentDTO">
        INSERT INTO comments (user_seq_id, content, created_at, board_id)
        VALUES(#{userSeqId},#{content},now(),#{boardId})
    </insert>
    <!-- 게시글에 달린 모든 댓글 조회 -->
    <select id="getCommentsByBoardId" resultType="CommentDTO">
        SELECT c.*, u.user_id AS userId
        FROM comments AS c
        JOIN users u on c.user_seq_id = u.seq_id
        WHERE c.board_id = #{boardId}
    </select>
    <!-- 댓글 삭제 -->
    <delete id="deleteFreeBoardComment" parameterType="CommentDTO">
        DELETE FROM comments
        WHERE comment_id = #{commentId}
    </delete>

    <select id="getCommentByCommentId" resultType="CommentDTO">
        SELECT c.*, u.user_id AS userId
        FROM comments AS c
                 JOIN users u on c.user_seq_id = u.seq_id
        WHERE c.comment_id = #{commentId}
    </select>

</mapper>