<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    유저 매퍼
    UserRepository 인터페이스와 연결
-->
<mapper namespace="ebrain.board.mapper.ImageRepository">

    <!--  첨부 파일 정보 저장 -->
    <insert id="saveImage" parameterType="ImageDTO">
        INSERT INTO images (filename, origin_filename, priority, board_id)
        VALUES ( #{fileName}, #{originFileName},#{priority},#{boardId})
    </insert>

    <select id="getImagesByBoardId" parameterType="int" resultType="ImageDTO">
        SELECT image_id, board_id, filename, origin_filename AS originFileName, priority
        FROM images
        WHERE board_id = #{boardId}
    </select>

    <select id="getFirstPriorityImageByBoardId" parameterType="int" resultType="ImageDTO">
        SELECT image_id, board_id, filename, origin_filename AS originFileName, priority
        FROM images
        WHERE board_id = #{boardId}
        AND priority = 1
    </select>

    <select id="getImageByImageId" parameterType="java.lang.Integer" resultType="ImageDTO">
        SELECT image_id, board_id, filename, origin_filename AS originFileName, priority
        FROM images
        WHERE image_id = #{imageId}
    </select>

    <delete id="deleteImageByBoardId" parameterType="java.lang.Integer">
        DELETE
        FROM images
        WHERE board_id = ${board_id}
    </delete>

    <select id="getMaxImagePriorityByBoardId" resultType="java.lang.Integer">
        SELECT MAX(priority) FROM image
        WHERE board_id = #{boardId}
    </select>

    <update id="updateImagePriority" parameterType="ImageDTO">
        UPDATE images
        SET priority = #{priority}
        WHERE image_id = #{imageId}
    </update>

    <delete id="deleteImageByImageId" parameterType="java.lang.Integer">
        DELETE
        FROM images
        WHERE image_id = #{imageId}
    </delete>
</mapper>