<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--
    유저 매퍼
    UserRepository 인터페이스와 연결
-->
<mapper namespace="ebrain.board.mapper.ImageRepository">

    <!-- 이미지 정보를 저장하는 쿼리 -->
    <insert id="saveImage" parameterType="ImageDTO">
        INSERT INTO images (filename, origin_filename, priority, board_id)
        VALUES ( #{fileName}, #{originFileName}, #{priority}, #{boardId} )
    </insert>

    <!-- 게시글 ID에 해당하는 이미지 목록을 조회하는 쿼리 -->
    <select id="getImagesByBoardId" parameterType="int" resultType="ImageDTO">
        SELECT image_id, board_id, filename, origin_filename AS originFileName, priority
        FROM images
        WHERE board_id = #{boardId}
    </select>

    <!-- 게시글 ID에 해당하는 우선순위 1의 이미지를 조회하는 쿼리 -->
    <select id="getFirstPriorityImageByBoardId" parameterType="int" resultType="ImageDTO">
        SELECT image_id, board_id, filename, origin_filename AS originFileName, priority
        FROM images
        WHERE board_id = #{boardId}
          AND priority = 1
    </select>

    <!-- 이미지 ID에 해당하는 이미지 정보를 조회하는 쿼리 -->
    <select id="getImageByImageId" parameterType="java.lang.Integer" resultType="ImageDTO">
        SELECT image_id, board_id, filename, origin_filename AS originFileName, priority
        FROM images
        WHERE image_id = #{imageId}
    </select>

    <!-- 게시글 ID에 해당하는 이미지를 삭제하는 쿼리 -->
    <delete id="deleteImageByBoardId" parameterType="java.lang.Integer">
        DELETE
        FROM images
        WHERE board_id = ${board_id}
    </delete>

    <!-- 게시글 ID에 해당하는 이미지의 최대 우선순위를 조회하는 쿼리 -->
    <select id="getMaxImagePriorityByBoardId" resultType="java.lang.Integer">
        SELECT MAX(priority) FROM image
        WHERE board_id = #{boardId}
    </select>

    <!-- 이미지의 우선순위를 수정하는 쿼리 -->
    <update id="updateImagePriority" parameterType="ImageDTO">
        UPDATE images
        SET priority = #{priority}
        WHERE image_id = #{imageId}
    </update>

    <!-- 이미지 ID에 해당하는 이미지를 삭제하는 쿼리 -->
    <delete id="deleteImageByImageId" parameterType="java.lang.Integer">
        DELETE
        FROM images
        WHERE image_id = #{imageId}
    </delete>
</mapper>